{% extends 'front/base.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body_security %}
    {% form_theme formEmail 'front/forms/security.html.twig' %}
    {{ form_start(formEmail, { attr: {'novalidate': 'novalidate' } }) }}
        {{ form_row(formEmail) }}
        <button type="submit" name="submit" class="btn btn--secondary">Envoyer</button>
    {{ form_end(formEmail) }}
{% endblock %}