{% extends 'back/base.html.twig' %}

{% block title %}Ajouter un administrateur{% endblock %}

{% block body %}
    <h1 class="text-3xl text-black pb-6">Ajouter un administrateur</h1>
    <div class="my-5 border rounded bg-white shadow px-6 py-3">     
        {% include 'back/admin/_form.admin.html.twig' with { 'form' : form } %}
    </div>
{% endblock %}