{% extends 'front/base.html.twig' %}

{% block title %}Maintenance en cours{% endblock %}

{% block body_security %}
	<div class="py-10 px-8 flex flex-col">
		<h1 class="text-xl text-center mb-10">Maintenance en cours</h1>
		<br/><br/>
		<p class="text-center">Une maintenance est actuellement en cours sur la plateforme. Veuillez ré-essayer plus tard.
	</div>
{% endblock %}