{% form_theme form 'front/forms/campaign.html.twig' %}
{{ form_start(form, { 'attr' : { 'id' : 'form-campaign' } }) }}
    <div class="flex flex-nowrap flex-row justify-start items-center my-4 relative">
        <div class="relative pr-7">
            <h2 class="text-secondary">Une demande spécifique ?</h2>
        </div>
    </div>
{{ form_end(form) }}