<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BILOBAY</title>
    </head>
    <body>
        <h1>BILOBAY</h1>
        {% block body %}{% endblock %}
    </body>
</html>
