{% for i in 0..2 %}
    <div class="col-span-6 xl:col-span-4">
        <div class="add-campaign-comparative cursor-pointer border-dashed border-white-verydark border-4 p-6 rounded-lg h-48 flex justify-center items-center">
            <div class="plus pointer-events-none">
                {{ includeSVG('add-big.svg') }}
            </div>
        </div>
    </div>
{% endfor %}